.myButton{
    background: transparent;
    color: #ffba00;
    cursor: pointer;
}
.myButton:hover{
    color:white;
}

.myNavButton{
    color: #c3c9d4;
    cursor: pointer;
    background: transparent;
}

